<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <packageSources>
  <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  <add key="jdmplatform" value="https://lab.jdm-platform.com/api/v4/projects/25/packages/nuget/index.json" />
 </packageSources>
  <packageSourceCredentials>
    <jdmplatform>
      <add key="Username" value="nugetReadonly" />
      <add key="ClearTextPassword" value="csFxJ1Vv3VdKjqEerxkH" />
    </jdmplatform>
  </packageSourceCredentials>
</configuration>